*{
	margin: 0px;
	padding: 0px;
	margin: auto;
}

.content{
	width: 400px;
	margin-top: 60px;

}

.dangkythanhvien{
	width: 400px;
	border: 1px solid #DDDDDD;
	margin-top: 60px;
}

.dangkythanhvien h3{
	background: #507FC7;
	padding: 5px;
	color: #FFF;
	text-align: center;
}

.dangkythanhvien form table tr td{
	padding: 5px;
}

.dangkythanhvien form table tr td input{
	padding: 3px 5px;
}

.list{
	background: yellow;
	padding: 5px;
	border-radius: 10px;
}

.danhsach{
	width: 500px;
	margin: auto;
	margin-top: 50px;
}

.danhsach table{
	width: 500px;
	border:  1px solid #999999;
}

.danhsach h3{
	background: #507FC7;
	color:  #FFF;
	text-align: center;
	padding: 5px;
}